<div class="container py-4 mx-auto">
  <div class="flex gap-4 flex-wrap">
    <div
      *ngFor="let offer of assistanceRequests"
      class="card w-1/4 bg-base-100 shadow-xl"
    >
      <div class="card-body">
        <h1 class="text-xl">
          <span class="font-bold text-indigo-950">Description:</span>
        </h1>
        <p class="card-title text-sm">{{ offer.description }}</p>

        <div class="flex items-center space-x-4">
          <a
            class="btn btn-secondary"
            (click)="makeOfer(offer?.id)"
            href="/volunteer/make-assistance-offer/{{ offer?.id }}"
          >
            Help
          </a>

          <button class="btn btn-success">See More</button>
        </div>
      </div>
    </div>
  </div>
</div>
