<div class="container mx-auto">
  <div class="flex items-center gap-x-4">
    <div class="w-10 bg-primary h-[2px]"></div>
    <h1 class="font-bold text-primary">Best Services</h1>
  </div>
  <div class="flex flex-col gap-2">
    <div class="font-bold text-3xl md:text-4xl">What our services</div>
    <div class="flex flex-wrap gap-2 justify-between">
      <div class="w-full md:w-2/4 text-text-secondary text-xs md:text-base">
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
        cillum sint consectetur cupidatat. cillum sint consectetur cupidatat.
      </div>
      <button type="" class="btn btn-sm md:btn-md btn-primary text-white">
        See More
      </button>
    </div>
    <div class="flex flex-wrap justify-center gap-4">
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Shoes!</h2>
          <p class="text-text-secondary">
            If a dog chews shoes whose shoes does he choose?
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Shoes!</h2>
          <p class="text-text-secondary">
            If a dog chews shoes whose shoes does he choose?
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Shoes!</h2>
          <p class="text-text-secondary">
            If a dog chews shoes whose shoes does he choose?
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Shoes!</h2>
          <p class="text-text-secondary">
            If a dog chews shoes whose shoes does he choose?
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Shoes!</h2>
          <p class="text-text-secondary">
            If a dog chews shoes whose shoes does he choose?
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Shoes!</h2>
          <p class="text-text-secondary">
            If a dog chews shoes whose shoes does he choose?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
